button{
    border: none;
    background: #fff;
}
input{
        border:4px solid #ccc;
        
}
input:focus{
    border:4px solid #ccc;

        }
input:focus .alternative{
    display:none;
}        