h3{
    margin: 8px auto;
    background: brown;
}
.studentscontainer{
    width: 70%;
    margin: 0 auto;
    background: #ccc;
    border-radius: 4px;
    padding: 8px;
    display: flex;
}
.studentlist{
    width: 80%;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    justify-content: space-between;
    background: burlywood;
    li{list-style: none;
    width: 100%;
}
}
.updatestudent{
    background: bisque;
    height: 40vh;
    padding: 8px;
    text-align: center;
}
.newstudentform{
width: 50%;
    height: 40vh;
    padding: 8px;
    text-align: center;
}
.studentoptions{

text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}